<%= form_with(model: tabela_desafio, local: true) do |form| %>
  <% if tabela_deafio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tabela_desafio.errors.count, "error") %> prohibited this tabela1 from being saved:</h2>

      <ul>
      <% tabela_deafio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comprador %>
    <%= form.text_field :comprador, id: :tabela1_comprador %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :tabela1_descricao %>
  </div>

  <div class="field">
    <%= form.label :preco_unit %>
    <%= form.float_field :preco_unit, id: :tabela1_preco_unit %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, id: :tabela1_quantidade %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco, id: :tabela1_endereco %>
  </div>

  <div class="field">
    <%= form.label :fornecedor %>
    <%= form.text_field :fornecedor, id: :tabela1_fornecedor %>
  </div>

   <div class="field">
    <%= form.label :valor_total %>
    <%= form.float_field :fornecedor, id: :tabela1_valor_total%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
